.card-wrapper{
	font-family: "Quicksand", san-serif;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #212121;
	color: white;

}

.card-wrapper a{
	text-decoration: none;
}

.card-wrapper .card {
	color: #fff;
	position: relative;
	overflow: hidden;
	margin: 10px;
	max-width: 300px;
	background: #000000;
	text-align: left;
	cursor: pointer;
}

.card-wrapper .card-img {
	max-width: 100%;
	opacity: 1;
	transition: all .4s;
	z-index: 1;
}

.card-title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px 30px 30px 50px;
	width: 100%;
	height: 100%;
}

.card-title::before {
	content: '';
	position: absolute;
	background: rgba(255, 255, 255, .5);
	top: 30px;
	right: 30px;
	bottom: 30px
	left: 100%;
	opacity: 0;
	transition-delay: .7s;
}

.card-title p{
	margin: 0 0 10px;
	opacity: 0;
	transition: all .4s;
}

.card-title h5 {
	margin: 0 0 10px;
	opacity: 0;
	transition: all .4s;
}

.card-title h5 {
	text-transform: uppercase;
	transform: translateX(50px);
	transition-delay: .5s;
}

.card-title p {
	transform: translateY(40px);
}

.card-title .link-url {

	position: relative;
	bottom: 0;

}
.card-title-icon > a {
	color: #fff;
	margin: 4px;
	transform: translateX(50px);
	opacity: 0;
	transition: all .4s;
}

.card-title-icon > a:nth-child(1){
	transition-delay: .5s;
}

.card-title-icon > a:nth-child(2){
	transition-delay: .4s;
}

.card-title-icon > a:nth-child(3){
	transition-delay: .3s;
}

.card-title-icon > a:nth-child(4){
	transition-delay: .2s;
}

/* EFFECT */
.card:hover .card-img {
	opacity: .3;
}

.card:hover .card-title h5 {
	opacity: 1;
	transform: translateX(0px);
	transition-delay: .4s;
}

.card:hover .card-title p {
	opacity: 1;
	transform: translateY(0);
	transition-delay: .6s;
}

.card:hover .card-title::before {
	left: 30px;
	opacity: 1;
	background: transparent;
	transition-delay: 0s;
}

.card:hover .card-title-icon > a {
	opacity: 1;
	transform: translateX(0);
	transition: all .4s;
}

.card:hover .card-title-icon > a:nth-child(1){
	transition-delay: .7s;
}

.card:hover .card-title-icon > a:nth-child(2){
	transition-delay: .8s;
}

.card:hover .card-title-icon > a:nth-child(3){
	transition-delay: .9s;
}

.card:hover .card-title-icon > a:nth-child(4){
	transition-delay: 1s;
}